name: Codespell Spell Checking

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  codespell:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install codespell
        run: |
          sudo apt-get update
          sudo apt-get install -y codespell

      - name: Run codespell
        run: codespell
