name: Tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '3.3', '3.4', '4.0' ]
        rails: [ '~> 7.2', '~> 8.0', '~> 8.1' ]
    name: Tests with Ruby ${{ matrix.ruby }} Activesupport ${{ matrix.rails }}
    env:
      RAILS_VERSION: ${{ matrix.rails }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
